@import url('https://fonts.googleapis.com/css?family=Roboto');

#vapen {
    padding: 15px;
    width: 145px;
    height: 150px;
    background-color: #0f0e0e;
    border-radius: 5px;
    float: left;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

#vapen img {
    width: 150px;
    height: auto;
}

#vapen li {
    margin: 5px;
    list-style-type: none;
    color: aliceblue;
    font-size: 13px;
}

.container {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.bilbtn {
    width: 150px;
    height: 25px;
    background-color: green;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.bilbtn_not_enough {
    width: 150px;
    height: 25px;
    background-color: #333333;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.bilbtn:hover {
    background-color: darkgreen;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#mislykket {
    width: 600px;
    background-color: #761019;
    color: white;
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #45080e;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#velykket {
    width: 600px;
    background-color: #2b9f25;
    color: white;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #5ff158;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#mislykket a {
    color: white;
}

#bildesign2 {
    padding-top: 5px;
    width: 600px; 
    height: 20px;
    color: white;
    background-color: #070707;
    border-bottom: 1px solid black; 
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#contain {
    padding-top: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 13px;
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 0;
    top: 150%;
    left: 100%;
    margin-left: -155px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    background-color: rgba(28,28,28,0.95);
}