@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#sendfrom a {
    text-decoration: none;
    color: white;
}

#inboxdesign {
    padding-top: 5px;
    width: 600px; 
    height: 20px;
    color: white;
    background-color: #0f0e0e;
    border-bottom: 1px solid black; 
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#inbox_tekst {
    width: 580px;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#inboxdesign a {
    text-decoration: none;
    color: white;
}

#inboxdesign a:hover {
    text-decoration: none;
    color: red;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#velykket {
    width: 600px;
    background-color: #2b9f25;
    color: white;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #5ff158;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#mislykkket {
    width: 600px;
    background-color: #761019;
    color: white;
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #45080e;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
