#pk {
    padding-top: 10px;
}

#pkdesign1 {
    padding-top: 5px;
    width: 600px; 
    height: 20px;
    color: white;
    background-color: #070707;
    border-bottom: 1px solid black; 
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#pkdesign {
    width: 600px;
    height: 20px;
    padding-top: 5px;
    color: white;
    background-color: #0f0e0e;
    border-bottom: 1px solid black; 
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#pkdesign3 {
    width: 600px;
    height: 50px;
    padding-top: 5px;
    color: white;
    background-color: #0f0e0e;
    border-bottom: 1px solid black; 
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#pkdesignbtn {
    width: 600px;
    height: 30px;
    padding-top: 10px;
    color: white;
    background-color: #0f0e0e;
    border-bottom: 1px solid black; 
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: dimgray;
    -webkit-transition: all 0.21s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#mislykket {
    width: 600px;
    background-color: #761019;
    color: white;
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #45080e;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#velykket {
    width: 600px;
    background-color: #2b9f25;
    color: white;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #5ff158;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
} 

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -150px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    background-color: rgba(28,28,28,0.95);
}

.button {
    background-color: #191919;
    border: 1px solid #070707;
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    border: 1px solid #393939;
    -webkit-transition: all 0.21s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button:focus {
    outline:0;
}