@import url('https://fonts.googleapis.com/css?family=Roboto');

#rediger {
    padding-top: 10px;
}

#redigerdesign {
    width: 580px;
    background-color: #0f0e0e;
    color: aliceblue;
    padding: 10px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#tilbake a:hover {
    color: lightslategray;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#tilbake a {
    text-decoration: none;
    color: aliceblue;
    
}

#tilbake {
    width: 580px;
    background-color: #0f0e0e;
    color: aliceblue;
    padding: 10px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#redigerdesign a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#redigerdesign a:hover {
    color: lightslategray;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#redigerfunksjon {
    width: 580px;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#redigerfunksjon:hover {
    background-color: orange;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#profilbilde_lastopp {
    width: 580px;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#velykket {
    width: 600px;
    background-color: #2b9f25;
    color: white;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #5ff158;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
} 


textarea {
    padding: 5px 10px;
    background-color: #191919;
    border: 1px solid #070707;
    color: white;
    outline: none;
}

textarea:focus {
    border: 1px solid #393939;
    -webkit-transition: all 0.21s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button {
    background-color: #191919;
    border: 1px solid #070707;
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    border: 1px solid #393939;
    -webkit-transition: all 0.21s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button:focus {
    outline:0;
}

textarea { 
   /* will prevent resizing horizontally */
   resize:none;
}