@import url('https://fonts.googleapis.com/css?family=Roboto');


#supportdesign {
    padding-top: 5px;
    width: 600px; 
    height: 20px;
    color: white;
    background-color: #070707;
    border-bottom: 1px solid black; 
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#support_tekst {
    width: 580px;
    background-color: #0f0e0e;
    color: white;
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#support {
    padding-top: 10px;
}

#velykket {
    width: 600px;
    background-color: #2b9f25;
    color: white;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #5ff158;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#mislykket {
    width: 600px;
    background-color: #761019;
    color: white;
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #45080e;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}